 body {
     font-family: 'Avenir LT Std 45 Book';
 }
 .banner{
    background-image: url('./public/build/images/first-dsk.png');
    background-color: rgba(122, 122, 122, 0.48);
    height: 95vh;
    background-position: top;
    background-size: cover;

    /* background-blend-mode: rgba(8, 36, 71, 0.48); */
} 
.nav li a{
    color: #fff;

}
h1 {
    font-family: 'Unna', serif;
}
/* .over-lap {
    background-color: ;
    width: 100%;
} */
/* .header-text {
    color: #E0E0E0;
    border-bottom: 0.1px #E0E0E0 solid;
}

.btn-donate {
    color: #E0E0E0;
}
.location {
    border-bottom: 0.1px #E0E0E0 solid;
} */

