 body {
     font-family: 'Avenir LT Std 45 Book';
     /* overflow: hidden; */
     overflow-x: hidden;
 }
 .logo {
     border-radius: 0px 9px;
 }
 
 /* .logo-blog {
    border-radius: 0px 9px;
    background-color: red;
} */

 .hero-img1{
    background-image: url('./public/build/images/first-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 95vh;
    background-position: top;
    background-size: cover;
} 
.hero-img2 {
    background-image: url('./public/build/images/second-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 95vh;
    background-position: top;
    background-size: cover;
}
.btn-listen, .btn-see, .btn-page {
    color:  #fff;
    display: block;
    width: 180px;
    padding: 10px 30px;
    background-color: #DF4041;
}

.hero-img3 {
    background-image: url('./public/build/images/third-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 95vh;
    background-position: top;
    background-size: cover;
}
.hero-img4 {
    background-image: url('./public/build/images/fourth-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 95vh;
    background-position: top;
    background-size: cover;
}

.nav li a{
    color: #fff;
}
 
  .btn-donate-blog {
      border: 2px solid #DF4041;
  }
  .slick-dots {
    bottom: 168px;
  }
  .slick-dots li.slick-active button:before {
    color: white;
  }

.slick-dots li button:before {
    font-size: 25px;
}
 .slick-next {
    right: 12%;
    top: 40%;
} 
/* .slick-prev {

} */
.slick-prev:before, .slick-next:before {
    font-size: 40px;
}

h1 {
    font-family: 'Unna', serif;
}
.card {
    width: 10%;
    margin-left: 12px;
    border: 0.5px solid #B8B8B8;
}
.read-more {
    border: 2px solid #082447;
     padding: 10px 20px; 
    font-size: 12px;
    color: #082447;
}
.field {
    width: 49%;
}

 /* .blog-card p {
    width: 300px;
} */
/*
} */
/* .blog-card.read-more {
    border: 1px solid #082447;
    /* padding: 10px 20px; 
    font-size: 12px;
    color: #082447;
    
} */
/* .read {
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
.power-text {
    color: #666666;
    width: 100%;
}
.verse {
    height: 500px;
}
.verse-image {
    width: 50%;
}
.verse-text {
    width: 50%;
    background-color: rgba(8, 36, 71, 0.16);

}
.verse-image img {
    width: 100%;
    height: 100%;
}
/* .verse-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.verse-text h3 {
    color: #082447;

}
.verse-text p {
    color: #666666;
    
}
.eph {
    color: #DF4041;
}
.footer {
    background-color: #082447;
    color: #fff;
}
/* .website-links {
    width: 20%;
 */
.footer-contents {
    border-bottom: 0.5px solid #878787;
}
.contact-us {
    width: 20%;
    border-left: 0.5px solid #878787;
    padding-left: 10px;
}
.location {
    border-left: 0.5px solid #878787;
    padding-left: 10px;
}
.reload {
    width: 50px;
    right: 48px;
    top: 20px;
}

.blog-nav li {
    color:  #8F8F8F;
}
/* .wrapper {
    background: #E5E5E5;
} */
.blog-card {
    width: 30%;
    border: 0.2px solid #B8B8B8;
    margin-top: 40px;
}
.banner-pray {
    background-image: url('./public/build/images/Rectangle\ 240.png');
    height: 60vh;
    background-size: cover;
}
.nav-pray ul li, .nav-media ul li {
    color: #fff;
}
.banner-media {
    background-image: url('./public/build/images/Rectangle\ 241.png');
    height: 60vh;
    background-size: cover;
}
.music-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(8, 36, 71, 0.32);
}
.holder {
    width: 12%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.podcast {
    background-color: #F5F5F5;
    border: 0.5px solid #8F8F8F;
    padding: 10px 5px;
}
.image-card {
    width: 23%
}
.image-card p {
    margin-top: 7px;
    font-size: 13px;
    font-weight: 500;
} 

.banner-event {
    background-image: url('./public/build/images/Rectangle\ 241\ \(1\).png');
    height: 60vh;
    background-size: cover;
}
.event-card {
    width: 23%
}
.event-card h2 {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 700;

}

.event-card p {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 500;
} 
.banner-about {
    background-image: url('./public/build/images/about.png');
    height: 60vh;
    background-size: cover;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-text {
    width: 45%;
}
.about-img {
    width: 35%;
}
/* .pastor {
    height: 40vh;
} */
/* .pastor-img {
    width: 30%;
} */

.head-pastor-text {
    width: 80%;
    background-color: rgba(8, 36, 71, 0.24);
    /* padding: 20px; */
}
.goal {
    width: 32%;
    border: 0.5px solid #CCCCCC;
    padding: 20px 30px;
    text-align: center;
}
.goal h4 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
nav.hipsom ul li a {
    color: #8F8F8F;
    font-weight: 700;
}
.btn-fill, .btn-upload {
    border: 0.5px solid #8F8F8F;
}
.hipsom-field {
    width: 32.5%;
}
.hipsom-field2 {
    width: 42.5%;
}
.hipsom-field3 {
    width: 22.5%;
}
.hipsom-field4 {
    width: 32.5%;
}
.btn-add {
    border: 0.5px solid #8F8F8F;
}
.message-hipsom{
    width: 70%;
}
textarea {
    resize: none;
}
.ref-text {
    width: 600px;
}
.nom {
    width: 300px;
    padding-bottom: 5px;
}
.note {
    width: 590px;
}
.checkbox-text {
    width: 605px;
}
input[type="checkbox"] {
   width: 20px;
   height: 20px;
}
.chck-boxes {
    width: 40%;
}
/* .fill-field {
    width: 100%;
}
 */

 label.upload {
    cursor: pointer;
    border: 1px solid #082447;
    /* padding: 10px; */

    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-form {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .banner-contact {
    background-image: url('./public/build/images/contact.png');
    height: 60vh;
    background-size: cover;
}
.contact-form {
    width: 50%;
}













@media screen  and (max-width:768px){

.hero-img1 {
    background-image: none;
    background: url('./public/build/images/first.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
.banner-text, .banner-text2, .banner-text3, .banner-text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* h1 {

} */
.header-text {
    width: 100%;
    text-align: center;
}

.slick-dots {
    bottom: 198px;
  }

  .hero-img2 {
    background-image: none;
    background: url('./public/build/images/second.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
/* .btn-listen {
    padding: 10px 100px;
}
.btn-see {
    width: 100%;
} */

.hero-img3 {
    background-image: none;
    background: url('./public/build/images/third.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.hero-img4 {
    background-image: none;
    background: url('./public/build/images/fourth.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.verse-image {
    width: 100%;
}
.verse-text {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer-contents {
    /* border-bottom: 0.5px solid #878787; */
    border-bottom: none;
}
.contact-us {
    width: 100%;
    border-left: none;
    padding-left: 0;
    margin-top: 10px;
    
}
.location {
    border-left: none;
    padding-left: 0;
}
.location p {
    width: 100px;
}

.reload {
    width: 50px;
    right: 48px;
    top: 20px;
}








   








}